html, body {
    min-width: 500px;
    max-width: 1000px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: black;
   
}

canvas {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
