body {
	background-color: #4F6367;
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Monoton', sans-serif;
	font-weight: 200;
	color: #FE5F55;
	font-size: 240px;
    line-height: 50%;
}

a {
	font-family: 'Righteous', sans-serif;
	font-weight: 200;
	color: #FE5F55;
    font-size: 65px;
	text-decoration: none;
	line-height: 0%;
}

a:hover {
	color: #fed054;
}

link-box {
    text-align: center;
}

center-box {

}