html {
    background: #222222;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
    color: #FFFFFF;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 0;
}

h3 {
    line-height: 0;
}
h2 {
    margin-top: 0.5em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.buttonTitle {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.button, .containerButton, .upgrade {
    border: 1px solid #1a1a1a;
    background: #666666;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    justify-content: center;
    vertical-align: middle;
    outline: none;
}

.upgrade {
    text-align: center;
    margin-right: 2px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    padding: 0px 0px;
    display: inline-block;
    float: left;
}

.button:hover, .containerButton:hover, .upgrade:hover {
    background: #444444;
}

.button:active, .containerButton:active, .upgrade:active {
   color: #000000;
   background: #666666;
}

.containerButton {
    width: 100%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    z-index: 10;
}

.upgrades, .container {
    min-height: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0.5rem;
    position: relative;
    z-index: 10;
    overflow-x: auto;
    width: 100%;
    height: 100vh;
}

.upgrades {
        white-space: nowrap;

    background: #333333;
    height:auto;
}

.container {
    height: 50vh;
    margin-top: 0px;
    padding-top: 0.9rem;
 
}

.itemContainer {
    background: #333333;
    min-width: 300px;
    margin-right: 10px;
    overflow: auto;
    height: 100%;
    padding: .5rem;
    
    -webkit-overflow-scrolling: touch;
    ms-overflow-style: none;
}

.itemContainer::-webkit-scrollbar {
    display: none;
}

.textCenter {
    text-align: center;
}

.textLeft {
    float: left;
}

.textRight {
    float: right;
}
